<div class="row">
  <div class="col-md-6">
    <%= link_to "delete", @list, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger"%>
  </div>
  <div class="col-md-6">
    <%= link_to "edit", edit_list_path(@list), class: "btn btn-primary"%>
  </div>
</div>
