<% provide(:title, @list.title) %>

<%= render partial: 'lists/header', locals: {list: @list}%>
<div class="container">
  <div class="row">
    <%= render partial: 'items/pros_cons', locals: {pro_con: "Pros", list: @list, owner_items: @owner_items, contributor_items_hash: @contributor_items_hash}%>
    <%= render partial: 'items/pros_cons', locals: {pro_con: "Cons", list: @list, owner_items: @owner_items, contributor_items_hash: @contributor_items_hash}%>
  </div>
</div>
