<% provide(:title, "About") %>
  <h1>About</h1>
  <h2>
    <%= link_to("Rails assessment", "https://github.com/learn-co-students/rails-assessment-v-000", target:"_blank", rel:"noopener no referrer")%> for Flatiron School's <%= link_to("Learn", "https://learn.co", target:"_blank", rel:"noopener no referrer")%>. </h2>
  <h2>Used Learn's Rails curriculum and <%= link_to("Ruby on Rails Tutorial", "http://www.railstutorial.org/", target:"_blank", rel:"noopener no referrer")%>.  <%= link_to("Version 1", "https://github.com/kaileeagray/social-pro-con-sinatra-assessment", target:"_blank", rel:"noopener no referrer")%> created with Sinatra.
  </h2>
