<% provide(:title, "Help") %>
<h1 class="white_rounded_shadow">Help</h1>
<h2>
  Go to repo: <%= link_to("social-pro-con-rails-assessment", "https://github.com/kaileeagray/social-pro-con-rails-assessment", target:"_blank", rel:"noopener no referrer")%>.
</h2>
