<h1>Social Pro-Con App</h1>
<p>
  This is the home page for a Pro-Con list web application. <%= link_to("Check out the code!", "https://github.com/kaileeagray/social-pro-con-rails-assessment", target:"_blank", rel:"noopener no referrer")%>
</p>
