<div id="home">
<div class="left jumbotron">
  <h1>Social Pro-Con App</h1>
  <h2>
    Create, save, and edit pro con lists. View and contribute to your friends' pro con lists. <%= link_to("Check out the code!", "https://github.com/kaileeagray/social-pro-con-rails-assessment", target:"_blank", rel:"noopener no referrer")%>
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
</div>
