<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <%=link_to "Sign up with Facebook", "/auth/facebook", class:"btn btn-block btn-lg btn-facebook center"%>

    <div class="group">
      <div class="item line"></div>
      <div class="item text">or</div>
      <div class="item line"></div>
    </div>
  <h2> Sign up with your email address</h2>
    <%= render 'form' %>
  </div>
</div>
