<% if @feed_items.any? %>
  <ol class="lists">
    <div class="page">
      <%= render @feed_items %>
    </div>
  </ol>
  <%= paginate @feed_items %>
<% end %>

<%= link_to 'New List', new_list_path %>
